---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Roolipeli.info - Finländska rollspel" lang="sv">
  <main>
    <h1 style="color: var(--color-accent)">Välkommen!</h1>
    <p>Den kanoniska källan för finländska rollspel.</p>
  </main>
</Layout>
