---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Roolipeli.info - Suomalaisten roolipelien tietokanta" lang="fi">
  <main>
    <h1 style="color: var(--color-accent)">Tervetuloa!</h1>
    <p>Kanoninen tietolähde suomalaisista roolipeleistä.</p>
  </main>
</Layout>
