---
import { getCreators } from '@roolipeli/database';
import Layout from '../../layouts/Layout.astro';
import '@roolipeli/design-system/components/card.css';

const creators = await getCreators();
---

<Layout title="Tekijät | Roolipeli.info" lang="fi">
    <main>
        <h1>Tekijät</h1>
        <div class="creator-grid">
            {
                creators.map((creator) => (
                    <div class="card">
                        <h2>{creator.name}</h2>
                    </div>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    main {
        max-width: 800px;
        margin: 0 auto;
    }

    .creator-grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: var(--kide-space-4);
    }

    .creator-grid h2 {
        margin: 0;
        font-size: 1.25rem;
    }
</style>
