---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="Roolipeli.info - Finnish RPGs" lang="en">
  <main>
    <h1 style="color: var(--color-accent)">Welcome!</h1>
    <p>The canonical source for Finnish tabletop RPGs.</p>
  </main>
</Layout>
